@import "./variables";

%messageErrorText {
  color: $dangerColorText;
  position: absolute;
  z-index: 10;
  &.entering {
    animation: wrongError 500ms ease-out forwards;
  }
  &.exiting {
    animation: wrongError 500ms ease-in alternate-reverse forwards;
  }
  .wrap_wrong_text {
    margin: 0px;
    border-radius: 10px;
    padding: 3px;
    margin-top: 3px;
    display: flex;
    align-items: center;
    .question {
      cursor: pointer;
      height: 13px;
      width: 13px;
    }
  }
  .wrap_wrong_info {
    white-space: pre-line;
    padding: 5px;
    border: solid 1px $dangerColorText;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.9);
    z-index: 10;
    &.entering {
      animation: wrongInfo 500ms ease-in forwards;
    }
    &.exiting {
      animation: wrongInfo 500ms ease-in alternate-reverse forwards;
    }
  }
}

@keyframes wrongInfo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wrongError {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

%disabledBtn {
  color: $textColorButton;
  background-color: $bgDisabledColorBtn;
  border-radius: $borderRadius;
  height: 50px;
  box-shadow: $shadow;
  cursor: not-allowed;
  width: 100%;
  margin: 0;
}

%link {
  color: white;
  text-align: center;
  &:hover {
    cursor: pointer;
    text-decoration: white underline;
  }
}
