$colorWhite: #fff;
$shadow: 0px 0px 25px -1px rgba(0,0,0,0.75);
$borderRadius: 15px;
$bgColorButton: #5663FF;
$textColorButton: #ffffff;
$bgHoverColorButton: #1a2283;
$dangerColorText: #db002c;
$successColorText: #5ab32b;
$bgDisabledColorBtn: #383434;