.notification {
    position: absolute;
    width: auto;
    top: 0;
    left: 0;
    .wrap-notification {
        padding: 10px;
        width: 100%;
        border-radius: 15px;
        &.success {
            background-color: #8eeb31;
            -webkit-box-shadow: 0px 0px 32px 10px rgba(142, 235, 49, 1);
            -moz-box-shadow: 0px 0px 32px 10px rgba(142, 235, 49, 1);
            box-shadow: 0px 0px 32px 10px rgba(142, 235, 49, 1);
        }
        &.error {
            background-color: #e01436;
            -webkit-box-shadow: 0px 0px 32px 10px rgba(209, 34, 63, 1);
            -moz-box-shadow: 0px 0px 32px 10px rgba(209, 34, 63, 1);
            box-shadow: 0px 0px 32px 10px rgba(209, 34, 63, 1);
        }
        &.wrong {
            background-color: #ed581c;
            -webkit-box-shadow: 0px 0px 32px 10px rgba(237, 88, 28, 1);
            -moz-box-shadow: 0px 0px 32px 10px rgba(237, 88, 28, 1);
            box-shadow: 0px 0px 32px 10px rgba(237, 88, 28, 1);
        }
    }
    &.entering {
        animation: notificationAnimation 1s ease-out forwards;
    }
    &.exiting {
        animation: notificationAnimation 1s ease-out alternate-reverse forwards;
    }
}

@keyframes notificationAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
