@import "../../../assets/scss/variables";
@import "../../../assets/scss/templates";
$height: 50px;
.ui-button {
    color: $textColorButton;
    background-color: $bgColorButton;
    border-radius: $borderRadius;
    height: $height;
    box-shadow: $shadow;
    cursor: pointer;
    transition-duration: 200ms;
    width: 100%;
    margin: 0;
    &:hover {
        background-color: $bgHoverColorButton;
    }
}

.disabledBtn {
    @extend %disabledBtn;
}
