.wrap{
    width: 100%;
    height: 100vh;
    background: url('../../assets/img/backgrounds/bg_2.jpg');
    background-size: cover;
    position: relative;
    .dark-font{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.6);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
}