@import "../../../assets/scss/variables";
@import "../../../assets//scss//templates";

::placeholder {
  color: $colorWhite;
  opacity: 1;
}

.wrap_input {
  background-color: rgba($color: $colorWhite, $alpha: 0.2);
  border-radius: 15px;
  padding: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 50px;
  cursor: pointer;
  box-shadow: x;
  .img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
  .input {
    outline: none;
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    color: $colorWhite;
    font-size: 20px;
    cursor: pointer;
  }
  &:hover {
    border: 1px solid $colorWhite;
    padding: 14px;
  }
  &.invalid {
    border: 1px solid $dangerColorText;
    padding: 14px;
    animation: shake 500ms linear;
  }
  &.success {
    border: 1px solid $successColorText;
    padding: 14px;
  }
}

.error_text {
  @extend %messageErrorText;
}

@keyframes shake {
  8%,
  41% {
    -webkit-transform: translateX(-10px);
  }
  25%,
  58% {
    -webkit-transform: translateX(10px);
  }
  75% {
    -webkit-transform: translateX(-5px);
  }
  92% {
    -webkit-transform: translateX(5px);
  }
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
}
