@import '../../assets/scss/templates';

.wrap-content{
    position: relative;
    opacity: 0;
    &.entering{
        opacity: 0.9;
        transition: opacity 300ms;
    }
    &.entered{
        opacity: 1;
    }
    &.exiting{
       opacity: 0;
       transition: opacity 300ms;
    }
}

.link{
    @extend %link
}
