.wrap-change-password {
    &.entering {
        animation: secretWrapAnim 1s ease-out forwards;
    }
    &.exiting {
        animation: secretWrapAnim 1s ease-out alternate-reverse forwards;
    }
}

@keyframes secretWrapAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
