@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
small,
input{
    font-family: 'Josefin Sans';
    padding: 0;
    margin: 0;
}
