@import "../../assets/scss/variables";
$bgRadialGradient: radial-gradient(
    circle closest-side,
    rgba($bgColorButton, 0.3),
    rgba($bgHoverColorButton, 0.4),
    transparent
);

.wrap_reg_content {
    position: absolute;
    background: $bgRadialGradient;
    border-radius: 15px;
    &.entering {
        animation: wrapAnimation 300ms ease-out forwards;
    }
    &.exiting {
        animation: wrapAnimation 300ms ease-in alternate-reverse forwards;
    }
}

@keyframes wrapAnimation {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
.img_wrap {
    padding: 0;
    border-radius: 50px;
    background-color: rgba(117, 112, 112, 0.8);
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .default-icon {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .avatar {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        opacity: 0;
        &.show{
            opacity: 1;
        }
    }
}
.load_img {
    position: absolute;
    bottom: 0;
    right: 15%;
    background: $bgColorButton;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    border: solid 2px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: $bgHoverColorButton;
    }
}
